<div class="layer">
    <!-- 无任何 loader，正常情况下，在webpack打包后需要生效，则需要使用绝对路径 -->
    <!-- <img src="E:/Projects/WebProjects/webpack-practice/src/assets/bg.png"/> -->
    <img src="${ require('../../assets/bg.png')}"/>
    <div> this is <%= name %> layer </div>
    <ul>
        <% for (var i =0;i<arr.length;i++) {%>
        <li>    <%= arr[i] %> </li>
        <% } %>
    </ul>
</div>