<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title%></title>
</head>
<body>
    <h2 id="title"></h2>
    <div id="content">
        <h4><%= htmlWebpackPlugin.options.date%></h4>
        <ul>
            <% for (let key in htmlWebpackPlugin.files) { %>
                <li><%= key %> : <%= JSON.stringify(htmlWebpackPlugin.files[key])%></li>
              <%}%>
          
              <% for (let key in htmlWebpackPlugin.options) { %>
                <li><%= key %> : <%= JSON.stringify(htmlWebpackPlugin.options[key])%></li>
              <%}%>
        </ul>
    </div>
</body>
</html>